{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3

<div class="">
  <center>
    <u><h3 >Favorites</h3></u>
    
    <ul class="panel list-group">
      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sl1" data-parent="#menu">Home to CMU</a>
      <div id="sl1" class="sublinks collapse">
	<li class="list-group-item small"></span>Bus 1: Time</a>
<li class="list-group-item small"></span>Bus 2: Time</a>
</div>

<a href="#" class="list-group-item" data-toggle="collapse" data-target="#sl2" data-parent="#menu">Home to Walmart</a>
<div id="sl2" class="sublinks collapse">
  <li class="list-group-item small"></span>Bus 3</a>
<li class="list-group-item small"></span>Bus 4</a>
</div>

<a href="#" class="list-group-item" data-toggle="collapse" data-target="#sl3" data-parent="#menu">CMU to Waterfront</a>
<div id="sl3" class="sublinks collapse">
  <li class="list-group-item small"></span>Bus 5</a>
<li class="list-group-item small"></span>Bus 6</a>
</div>

<br/>

<button type="button" class="btn btn-primary">Add Favorite Stop</button>



</ul>
</center>
</div>


{% endblock %}
