{% extends "app/layout.html" %}

{% block content %}
<br/>

  
  <form action="profile" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-xs-12 col-md-4">
	<select name="busnum" class="form-control" id="sel1" >
	  <option selected="selected" disabled>{{Bus}}</option>
          {% for entry in buslist %}
          <option val="{{entry}}">{{entry}} </option>
          {% endfor %}
	</select>
      </div>

    <div class="col-xs-12 col-md-4">
      <select name="direction" class="form-control" id="sel2" onchange="this.form.submit()">
	    <option selected="selected" disabled>{{Direction}}</option>
        {% for entry in direction %}
          <option val="{{entry}}">{{entry}} </option>
          {% endfor %}
      </select>
    </div>
  </form>
  
  <form action="/retrieve" method="post">
    {% csrf_token %}
    <div class="col-xs-12 col-md-4">
      <select name="stopname" class="form-control" id="sel3"  onchange="this.form.submit()">
	<option selected="selected" disabled>{{Stopname}}</option>
        {% for entry in stopdata %}
          <option val="{{entry}}">{{entry.stpnm}} </option>
          {% endfor %}
      </select>
          <input type="hidden" name="Bus" value="{{Bus}}" />
          <input type="hidden" name="Direction" value="{{Direction}}" />
    </div>
  </form>  
  
  </div>
  <center>
    <br/>
    {% if realtimedata %}
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default btn" data-toggle="modal" data-target="#myModal">
      Add to Favorites
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h7 class="modal-title" id="myModalLabel">Modal title</h7>
	  </div>
	  <div class="modal-body">
            ...
	</div>
	  <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
	  </div>
	</div>
      </div>
    </div>
    
    {% endif %}
    <br/>
    <p>
      
      {% for bus in realtimedata %}
      <li class="list-group-item small">  {{bus.rt}} to {{bus.des}} in {{bus.prdtm}} minutes</li>
      {% endfor %}
    
    </p>
  </center>

{% endblock %}
  

