{% extends "app/layout.html" %}

{% block content %}
<br/>

  
  <form action="profile" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-xs-12 col-md-4">
	<select name="busnum" class="form-control" id="sel1" >
	  <option selected="selected" disabled>{{Bus}}</option>
          {% for entry in buslist %}
          <option val="{{entry}}">{{entry}} </option>
          {% endfor %}
	</select>
      </div>

    <div class="col-xs-12 col-md-4">
      <select name="direction" class="form-control" id="sel2" onchange="this.form.submit()">
	    <option selected="selected" disabled>{{Direction}}</option>
        {% for entry in direction %}
          <option val="{{entry}}">{{entry}} </option>
          {% endfor %}
      </select>
    </div>
  </form>
  
  <form action="/retrieve" method="post">
    {% csrf_token %}
    <div class="col-xs-12 col-md-4">
      <select name="stopname" class="form-control" id="sel3"  onchange="this.form.submit()">
	<option selected="selected" disabled>{{Stopname}}</option>
        {% for entry in stopdata %}
          <option val="{{entry}}">{{entry.stpnm}} </option>
          {% endfor %}
      </select>
          <input type="hidden" name="Bus" value="{{Bus}}" />
          <input type="hidden" name="Direction" value="{{Direction}}" />
    </div>
  </form>  
  
  </div>

<p>
 <center>
    {% for bus in realtimedata %}
        <li class="list-group-item small">  {{bus.rt}} to {{bus.des}} in {{bus.prdtm}} minutes</li>
    {% endfor %}
 <center>
</p>


{% endblock %}
  

