{% extends "app/layout.html" %}

{% block content %}
<br/>

  
<form class="form-inline" role="form">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <label>Bus:</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    
    <div class="col-xs-12 col-md-4">
      <label>Direction:</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    
    <div class="col-xs-12 col-md-4">
      <label>Stop:</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </div>
 <br/>   
  <div>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
  
</form>



</ul>
</center>
</div>

{% endblock %}
  

